useDynLib(phenoDLM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(Rmcmc_DLM_IG)
export(Rmcmc_DLM_half_Cauchy)
export(to_mcmc_list)
export(par_to_match)
export(indiv_harm_fits)
export(simulate_dlm_seas)
export(BPIC)
export(DIC)
export(rmse)
export(MCMC_to_pheno_events)
importFrom("stats", "quantile", "rnorm")
